name: CI Pipeline

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest
    
    container:
      image: mcr.microsoft.com/dotnet/sdk:10.0-alpine
    
    steps:
      - name: Install glibc compatibility
        run: apk add --no-cache gcompat libc6-compat

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Restore dependencies
        run: dotnet restore OnlineShop.slnx

      - name: Build solution
        run: dotnet build OnlineShop.slnx --no-restore --configuration Release

      - name: Run tests
        run: dotnet test OnlineShop.slnx --filter FullyQualifiedName\!~IntegrationTests --configuration Debug --verbosity normal || exit 1
