name: CI Pipeline

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-dotnet@v4
        with:
         dotnet-version: 10.0.x
      
      - name: Run unit tests
        run: dotnet test OnlineShop.slnx --configuration Release --filter FullyQualifiedName!~IntegrationTests

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    env:
      DB_NAME: CatalogServiceTests
    services:
      mssql:
        image: mcr.microsoft.com/mssql/server:2025-latest
        env:
          ACCEPT_EULA: Y
          MSSQL_SA_PASSWORD: ${{ secrets.MSSQL_SA_PASSWORD }}
          MSSQL_PID: Developer
        ports:
          - 1433:1433
        options: >-
          --health-cmd "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P $MSSQL_SA_PASSWORD -C -Q 'SELECT 1'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10
          --health-start-period 60s
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-dotnet@v4
        with:
         dotnet-version: 10.0.x
      
      - name: Initialize database
        run: |
          CONTAINER_ID=$(docker ps --filter "ancestor=mcr.microsoft.com/mssql/server:2025-latest" --format "{{.ID}}")
          docker cp ./scripts/migration.sql $CONTAINER_ID:/migration.sql
          docker exec $CONTAINER_ID /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P "${{ secrets.MSSQL_SA_PASSWORD }}" -C -Q "CREATE DATABASE [$DB_NAME]"
          docker exec $CONTAINER_ID /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P "${{ secrets.MSSQL_SA_PASSWORD }}" -C -d "$DB_NAME" -i /migration.sql
      
      - name: Run integration tests
        run: dotnet test OnlineShop.slnx --configuration Release --filter FullyQualifiedName~IntegrationTests
        env:
          ConnectionStrings__CatalogDatabase: "Server=localhost;Database=${{ env.DB_NAME }};User Id=sa;Password=${{ secrets.MSSQL_SA_PASSWORD }};Encrypt=False;TrustServerCertificate=True"
          ConnectionStrings__CartDatabase: CartService.db
